#main {
  padding: 50px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  .description {
    font-size: 20px;
    color: #999;
  }
  .ms {
    font-size: 60px;
    color: #333;
  }
  .unit {
    font-size: 30px;
    color: #666;
  }
}
